@font-face {
    font-family: "Norse-Bold";
    src: url("./fonts/Norse-Bold.otf");
}
:root {
    font-family: "Roboto";
    background-color: #f9fafb;
}

main {
    display: inline-flex;
}

.left-side {
    width: 480px;
}
.left-side--background-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 25vw;
    background-image: url("./imgs/background-form.jpg");
    background-position: center;
    background-size: cover;
}

.left-side--background-placeholder--logo-img {
    font-family: "Norse-Bold";
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    width: 100%;
    background-color: #00000080;
}

.odin-text {
    display: flex;
    align-items: center;
}

.right-side {
    display: flex;
    width: 75vw;
    margin-top: 150px;
    margin-left: 40px;
    flex-direction: column;

}

.right-side--information-text {
    font-weight: bold;
    font-size: 1.5rem;
}

.right-side--form {
    background-color: white;
}
