@font-face {
    font-family: "Norse-Bold";
    src: url("./fonts/Norse-Bold.otf");
}
:root {
    font-family: "Roboto";
    background-color: #f9fafb;
}

.left-side--background-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 25vw;
    background-image: url("./imgs/background-form.jpg");
    background-position: center;
    background-size: cover;
}

.left-side--background-placeholder--logo-img {
    font-family: "Norse-Bold";
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    width: 100%;
    background-color: #00000080;
}

.odin-text {
    display: flex;
    align-items: center;
}