@font-face {
    font-family: "Norse-Bold";
    src: url("./fonts/Norse-Bold.otf");
}
:root {
    font-family: "Roboto";
    background-color: #f9fafb;
}

main {
    display: inline-flex;
}

.left-side--background-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 25vw;
    background-image: url("./imgs/background-form.jpg");
    background-position: center;
    background-size: cover;
}

.left-side--background-placeholder--logo-img {
    font-family: "Norse-Bold";
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    width: 100%;
    background-color: #00000080;
}

.odin-text {
    display: flex;
    align-items: center;
}

.right-side {
    display: flex;
    width: 75vw;
    flex-direction: column;

}

.right-side--information-text {
    margin-top: 100px;
    margin-left: 40px;
    font-weight: bold;
    font-size: 1.5rem;
}

.right-side--form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    padding: 0;
    padding-left: 40px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 9px 8px 0px rgba(34, 60, 80, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 50px;
}

label {
    font-weight: bold;
    font-size: 0.7rem;  /* Adjust label font size */
    color: #1f2937;
}

input {
    padding: 3px;  /* Add padding for better input field styling */
    margin-top: 5px;  /* Add margin for better spacing between label and input */
    width: 15rem;
    border-color: #e5e7eb;
    border-radius: 4px;
    border-style: solid;
    font-size: 15px;
    padding-left: 7px;
}


.right-side--form--caption-text {
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 20px 0px 20px 0px;
    color: #1f2937;
}

.first-name-last-name, .email-phone-number, .password-confirm-password {
    display: flex;
}

.blue-input:focus {
    border-color: #1d4ed8;
    outline: none;
    -webkit-box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.red-input:focus {
    border-color: #b91c1c;
    outline: none;
    -webkit-box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
}

.red-input:invalid {
    border-color: #b91c1c;
    outline: none;
}

.create-account-button {
    width: 180px;
    height: 50px;
    background-color: #596d48;
    color: white;
    font-weight: bold;
    outline: none;
    border-color: #596d48;
    border-style: solid;
    border-radius: 10px;
    -webkit-box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 3px 7px 8px 0px rgba(34, 60, 80, 0.2);
    margin-left: 40px;
    margin-top: 40px;
}

.create-account-button:active {
    background-color: #435236;
    border-color: #435236;
}

.already-have-account {
    margin-left: 40px;
    font-size: 1rem;
}

a {
    color: #596d48;
    font-weight: bold;
    text-decoration: none;
}